{% extends "layout.html" %} {% load static %} {% block body %}
<div class="row">
    <div class="col">
        <h1>Jaguarete KAA S.A</h1>
        <h2>Lorem Ipsum</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eget sollicitudin elit. Nullam quis commodo magna. Sed ut dictum ligula. Proin imperdiet diam eu felis viverra, eu elementum nulla tincidunt. Aliquam justo justo, vestibulum quis sagittis
            egestas, venenatis nec elit. Quisque metus turpis, bibendum et massa et, egestas tempus magna. Integer mi diam, consequat sit amet dictum interdum, fermentum vel augue. Morbi vel pharetra nibh. Fusce vitae quam mi. Donec sagittis tincidunt
            lorem, a vulputate nulla. Integer risus nunc, cursus eu lacinia a, commodo in orci. Suspendisse ut elit nec dui malesuada pharetra molestie eu orci. Sed dignissim gravida fringilla. Aenean dignissim, felis sit amet lobortis facilisis, justo
            sapien lacinia enim, quis faucibus est purus ut neque. Aliquam pharetra non lectus pellentesque varius. Cras luctus leo in cursus sodales. Aenean nibh turpis, venenatis id finibus ac, porta a est. In id dictum turpis, at fermentum ipsum. Duis
            pretium luctus dapibus. Vestibulum sed tincidunt velit. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In feugiat mattis rutrum. Fusce elementum ornare turpis id varius. Aliquam quis lobortis odio. Donec
            in nunc mi. Donec nec aliquam quam. Nullam mattis leo a sem convallis, non ornare diam lobortis. Integer at dignissim erat. Vivamus non ligula nibh. Nunc pretium arcu quis quam tincidunt mattis. Curabitur a tempor velit. Donec tincidunt, lectus
            vitae congue varius, ligula mi facilisis tortor, quis sagittis augue massa luctus purus. Fusce in volutpat ligula. Quisque faucibus vulputate lorem, eget semper ipsum sollicitudin at. Pellentesque quis sem at ipsum consequat tempus. Sed elit
            lacus, hendrerit eleifend eleifend ut, dignissim nec felis. Fusce id vehicula elit. Fusce pulvinar lectus ac ante bibendum, sit amet tincidunt sapien convallis. Pellentesque sapien nisi, rhoncus sed ex quis, feugiat faucibus massa. Sed aliquam,
            eros tempus tristique feugiat, ligula odio sollicitudin ipsum, eget vehicula eros justo et risus. Nam ac justo vehicula augue facilisis molestie eu luctus dolor. Integer varius vel lectus vel consequat. Nunc pretium, enim sed convallis dictum,
            sapien nibh mollis massa, quis pharetra leo libero varius neque. Maecenas interdum urna in urna mollis fermentum. Cras lobortis urna vitae erat condimentum mollis. In vel nibh ac ex dignissim fringilla sit amet nec eros. In pretium a quam
            ut tincidunt. Sed non massa tortor. Maecenas quam diam, vehicula quis purus ut, ullamcorper tristique leo. Ut rhoncus ante in ex accumsan, vel pretium elit tempor. Praesent arcu nisl, finibus sit amet tristique sit amet, sagittis nec urna.
            Cras condimentum, odio nec accumsan porttitor, orci eros ullamcorper ante, in iaculis metus nunc at mi. Pellentesque vulputate vitae nunc id porttitor. Aenean vestibulum accumsan semper. Sed convallis, risus sit amet ultrices bibendum, ipsum
            ligula volutpat risus, a rutrum sem enim ac sapien. Maecenas sed tellus eu sapien pretium pretium ac sed elit. Mauris imperdiet odio ac porttitor finibus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
            Aliquam sed est sit amet tortor porttitor congue. Nullam sit amet metus posuere, porttitor neque sed, porta nisi. Nullam metus lacus, tincidunt id neque sed, cursus condimentum nunc.
        </p>
    </div>
    <div class="col">
        <div class="text-center">
            <img src="{% static 'assets/logo/logo.png' %}" class="rounded" alt="...">
        </div>
    </div>
</div>
{% endblock %}