{% extends "layout.html" %} {% load static %} {% block body %}
<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
        <div class="card text-center" style="width: 18rem;">
            <img src="{% static 'assets/logo/logo.png' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Producto #1</h5>
                <p class="card-text">"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."</p>
                <a href="#" class="btn btn-primary">Ir al producto</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card text-center" style="width: 18rem;">
            <img src="{% static 'assets/logo/logo.png' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Producto #2</h5>
                <p class="card-text">"There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain..."</p>
                <a href="#" class="btn btn-primary">Ir al producto</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card text-center" style="width: 18rem;">
            <img src="{% static 'assets/logo/logo.png' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Producto #3</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eget sollicitudin elit.</p>
                <a href="#" class="btn btn-primary">Ir al producto</a>
            </div>
        </div>
    </div>
</div>
<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action">Producto #4</a>
    <a href="#" class="list-group-item list-group-item-action">Producto #5</a>
    <a href="#" class="list-group-item list-group-item-action">Producto #6</a>
    <a href="#" class="list-group-item list-group-item-action">Producto #7</a>
    <a href="#" class="list-group-item list-group-item-action">Producto #8</a>
    <a href="#" class="list-group-item list-group-item-action">Producto #9</a>
    <a href="#" class="list-group-item list-group-item-action">Producto #10</a>
</div>
{% endblock %}