{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <title>Jaguarete KAA S.A.</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body>
    <div class="container-fluid" id="header">
        <div class="row justify-content-between" style="background-color: black;">
            <div class="col-lg-2">
                <a class="navbar-brand" href=" {% url 'index' %} ">
                    <img src="{% static 'assets/logo/logo_transparent.png' %}" alt="logoEmpresa" width="180" height="100">
                </a>
            </div>
            <div class="col-lg-2 align-self-end" style="margin-bottom: 3px;">
                <div class="btn-group" role="group">
                    {% if user.is_authenticated %}
                    <a href="{% url 'logout' %}" class="btn btn-outline-info"><img src="{% static 'assets/sign-out-option.png' %}" class="icon"> Logout
                    </a>
                    {% else %}
                    <a href="{% url 'login' %}" class="btn btn-outline-info"><img src="{% static 'assets/sign-in.png' %}" class="icon"> Login
                    </a>
                    <a href="{% url 'register' %}" class="btn btn-outline-info"><img src="{% static 'assets/register.png' %}" class="icon"> Register
                    </a>
                    {% endif %} {% if perms.JAGWEB.carrito.view_carrito %}
                    <a href="#" class="btn btn-outline-info"><img src="{% static 'assets/shop.png' %}" class="icon"> Carrito
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="top-bar">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <img src="{% static 'assets/menu.png' %}" class="icon">
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="{% url 'index' %}">Inicio</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Categorias
                        </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                {% for category in list_category %}
                                <li><a class="dropdown-item" href="{% url 'search_category' category.id %}">{{category.nombre}}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="{% url 'about' %}">Acerca de...</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="mailto:cristian.krutki@gmail.com?subject=%20Jaguarete %20KAA %20S.A">Contacto</a>
                        </li>
                        {% if perms.JAGWEB.add_producto %}
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="{%  url 'add_product'  %}">Agregar Prodcuto</a>
                        </li>
                        {% endif %}
                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Buscar Producto" aria-label="Search">
                        <button class="btn btn-outline-dark" type="submit">Buscar</button>
                    </form>
                </div>
            </div>
        </nav>
    </div>
    <div class="main">
        <div class="container-fluid" style="min-height: 100vh;">
            {% block body %} {% endblock %}
        </div>
    </div>
    <div class="footer">
        <div class="row justify-content-center" style="background-color: black; height: 5%;">
            <div class="col-md-auto">
                <p style="color: whitesmoke;font-size:20px">JAGUARETE KAA S.A. ©2021 All rights reserved </p>
            </div>
            <div class="col-md-auto">
                <p style="color:wheat; font-size:15px"> by Krutki Cristian Leonel</p>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>

</html>