{% extends 'layout.html' %} {% load static %} {% load crispy_forms_tags %}
{% block body %}
    <form  method='POST'>
        {% csrf_token %}
        <div class="form-floating mb-3">
            {{form.username|as_crispy_field}}
        </div>
        <div class="form-floating">
            {{form.password|as_crispy_field}}
        </div>
        <div class="span" style="padding: 20px; text-align: center;">
            <button type="submit" class="btn btn-outline-light">Login</button>
        </div>
    </form>
    
{% endblock body %}    



