{% extends "layout.html" %} {% load static %} {% block body %}
<div class="card mb-3" style="max-width: auto; max-height: auto;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="{{un_producto.imagen.url}}" class="img-fluid rounded-start" alt="Producto">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h4 class="card-title">{{un_producto.nombre}}</h4>
                <p class="card-text">{{un_producto.descripcion}}</p>
                <h5>$ {{un_producto.precio}}</h5>
                <p class="card-text"><small class="text-muted">{{un_producto.categoria.nombre}}</small></p>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-primary">Agregar Carrito</a> {% if user.is_authenticated %}
                <a href="{% url 'edit_produc' un_producto.id %}" class="btn btn-outline-primary">Editar Producto</a> {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}