{% extends "layout.html" %} {% load static %} {% block body %}
<div class="row">
    <h1>Resultados de </h1>
    <h2>Item Buscados </h2>
    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action">Producto #1</a>
        <a href="#" class="list-group-item list-group-item-action">Producto #2</a>
        <a href="#" class="list-group-item list-group-item-action">Producto #3</a>
        <a href="#" class="list-group-item list-group-item-action">Producto #4</a>
        <a href="#" class="list-group-item list-group-item-action">Producto #5</a>
        <a href="#" class="list-group-item list-group-item-action">Producto #6</a>
        <a href="#" class="list-group-item list-group-item-action">Producto #7</a>
    </div>
</div>
{% endblock %}