{% extends "layout.html" %} {% load static %} {% block body %}
<div class="row">
    <h1>Resultados de </h1>
    <h2>Item Buscados </h2>
    <div class="list-group">
        <a href="{% url 'product' %}" class="list-group-item list-group-item-action">Producto #1</a>
        <a href="{% url 'product' %}" class="list-group-item list-group-item-action">Producto #1</a>
        <a href="{% url 'product' %}" class="list-group-item list-group-item-action">Producto #1</a>
        <a href="{% url 'product' %}" class="list-group-item list-group-item-action">Producto #1</a>
        <a href="{% url 'product' %}" class="list-group-item list-group-item-action">Producto #1</a>
        <a href="{% url 'product' %}" class="list-group-item list-group-item-action">Producto #1</a>
        <a href="{% url 'product' %}" class="list-group-item list-group-item-action">Producto #1</a>
        <a href="{% url 'product' %}" class="list-group-item list-group-item-action">Producto #1</a>
        <a href="{% url 'product' %}" class="list-group-item list-group-item-action">Producto #1</a>
        <a href="{% url 'product' %}" class="list-group-item list-group-item-action">Producto #1</a>
        <a href="{% url 'product' %}" class="list-group-item list-group-item-action">Producto #1</a>
        <a href="{% url 'product' %}" class="list-group-item list-group-item-action">Producto #1</a>
    </div>
</div>
{% endblock %}