{% extends "layout.html" %} {% load static %} {% load crispy_forms_tags %} 
{% block body %} 
    {% if form.errors %}
        <div class="alert alert-danger" role="alert">
            Ocurri&oacute; un error con el formulario.
        </div>
    {% endif %}
<h1>Registro de Usuario</h1>
<form action="{% url 'user_sav' %}"  method="POST">
    {% csrf_token %} {% if mensaje  %}
    <div class="alert alert-success" role="alert">
        Usuario registrado correctamente.
    </div>
    {% endif %}
    <div class="row rform justify-content-center">
        <div class="col-12 col-md-6">
            {{ form.username|as_crispy_field }}
        </div>
        <div class="col-12 col-md-6">
            {{ form.email|as_crispy_field}}
        </div>
        <div class="col-12 col-md-6">
            {{ form.password1|as_crispy_field }}
        </div>
        <div class="col-12 col-md-6">
            {{ form.password2|as_crispy_field }}
        </div>
        <div class="col-12 col-md-6">
            {{ form.nombre|as_crispy_field }}
        </div>
        <div class="col-12 col-md-6">
            {{ form.apellido|as_crispy_field }}
        </div>
        <div class="col-12 col-md-6">
            {{ form.telefono|as_crispy_field }}
        </div>
    </div>
    <div class="span" style="padding: 20px; text-align: center;">
        <button type="submit" class="btn btn-outline-light">Registarme</button>
    </div>
</form>
{% endblock %}