{% extends 'layout.html' %} {% load static %} {% load crispy_forms_tags %} {% block body %} {% if next %} {% if user.is_authenticated %}
<div class="alert alert-info" role="alert">
    Tu cuenta no tiene acceso a esta p&aacute; gina. Para proceder, por favor inicie sesi&oacute; n con una cuenta que tenga acceso.
</div>
{% else %}
<h2 style="color:rgb(19, 17, 17);font-family: Verdana, Geneva, Tahoma, sans-serif;font-size: 20px;">
    Por Favor inicie sesi&oacute;n para continuar
</h2>
{% endif %} {% endif %}
<form method='post' action="{% url 'login' %}">
    {% csrf_token %}
    <div class="container container-sm">
        <div class="row rform">
            <div class="rform col-sm-12">
                {{form.username|as_crispy_field}}
            </div>
            <div class="rform col-sm-12">
                {{form.password|as_crispy_field}}
            </div>
            <div class="span" style="padding: 20px; text-align: center;">
                <button type="submit" class="btn btn-light">Login</button>
                <input type="hidden" name="next" value="{{ next }}" />
            </div>
        </div>
    </div>
</form>
<div class="span" style="padding: 20px; text-align: left;">
    <a class="btn btn-outline-primary" href="{% url 'password_reset' %}">¿Olvidó su contraseña?</a>
    <a class="btn btn-outline-primary" href="{% url 'register' %}">Registrarse</a>
</div>
{% if form.errors %}
<div class="span" style="padding: 20px; text-align: center;">
    <h4 style="color:rgb(19, 17, 17);font-family: Verdana, Geneva, Tahoma, sans-serif;font-size: 15px;">El usuario y la clave no coinciden, por favor intente nuevamente.</h4>
</div>
{% endif %} {% endblock body %}