{% extends 'layout.html' %} {% load static %} {% load crispy_forms_tags %} 
{% block body %}
    {% if validlink %}
        <p>Ingrese (y confirme) su nuevo password.</p>
        <form action="" method="post">
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            <div class="row rform justify-content-center">
                <div class="rform form-floating mb-3">
                    {{ form.new_password1.errors }}
                    {{form.new_password1|as_crispy_field}}
                </div>
                <div class="rform form-floating mb-3">
                    {{ form.new_password2.errors }}
                    {{form.new_password2|as_crispy_field}}
                </div>
                <div class="span" style="padding: 20px; text-align: center;">
                    <button type="submit" class="btn btn-outline-light">Cambiar contraseña</button>
                </div>
            </div>
        </form>
    {% else %}
            <h1> Error al restablecer el password </h1>
            <p> El enlace para restablecer la contraseña no es válido, posiblemente porque ya se ha utilizado. Solicite un nuevo restablecimiento de contraseña. </p>
    {% endif %}
    <p><a href="{% url 'login' %}">Volver</a></p>
{% endblock body %}