{% extends 'layout.html' %} {% load static %} {% block body %}
<h1>Reestablecer Contraseña</h1>
<h4 style="color:rgb(19, 17, 17);font-family: Verdana, Geneva, Tahoma, sans-serif;font-size: 15px;">Email registrado requerido</h4>
<div class="container container-sm">
    <form action="" method="post">
        {% csrf_token %} {% if form.email.errors %} {{ form.email.errors }} {% endif %}
        <p>{{ form.email }}</p>
        <input type="submit" class="btn btn-outline-light" value="Reset password" />
    </form>
</div>
<div class="span" style="padding: 20px; text-align: left;">
    <a class="btn btn-outline-primary" href="{% url 'login' %}">Volver al Login</a>
</div>
{% endblock body %}