{% extends "layout.html" %} {% load static %} {% block body %}
<h1><strong>Jaguarete KAA S.A</strong></h1>
<h2 style="color:rgb(19, 17, 17);font-family: Verdana, Geneva, Tahoma, sans-serif;font-size: 30px;">Lorem Ipsum</h2>
<div class="row" style="margin:0;">
    <div class="col-md-6">
        <p style="color:blanchedalmond; text-align:justify">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eget sollicitudin elit. Nullam quis commodo magna. Sed ut dictum ligula. Proin imperdiet diam eu felis viverra, eu elementum nulla tincidunt. Aliquam justo justo, vestibulum quis sagittis
            egestas, venenatis nec elit. Quisque metus turpis, bibendum et massa et, egestas tempus magna. Integer mi diam, consequat sit amet dictum interdum, fermentum vel augue. Morbi vel pharetra nibh. Fusce vitae quam mi. Donec sagittis tincidunt
            lorem, a vulputate nulla. Integer risus nunc, cursus eu lacinia a, commodo in orci. Suspendisse ut elit nec dui malesuada pharetra molestie eu orci. Sed dignissim gravida fringilla. Aenean dignissim, felis sit amet lobortis facilisis, justo
            sapien lacinia enim, quis faucibus est purus ut neque. Aliquam pharetra non lectus pellentesque varius. Cras luctus leo in cursus sodales. Aenean nibh turpis, venenatis id finibus ac, porta a est. In id dictum turpis, at fermentum ipsum. Duis
            pretium luctus dapibus. Vestibulum sed tincidunt velit. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In feugiat mattis rutrum. Fusce elementum ornare turpis id varius. Aliquam quis lobortis odio. Donec
            in nunc mi. Donec nec aliquam quam. Nullam mattis leo a sem convallis, non ornare diam lobortis. Integer at dignissim erat. Vivamus non ligula nibh. Nunc pretium arcu quis quam tincidunt mattis. Curabitur a tempor velit. Donec tincidunt,
        </p>
    </div>
    <div class="col-md-6">
        <div class="text-center">
            <img src="{% static 'assets/logo/logo.png' %}" style="width: 100%;height: 100%;" alt="...">
        </div>
    </div>
</div>
{% endblock %}