{% extends 'layout.html' %} {% load static %} {% block body %}
<h1> <strong>Listado de Productos </strong> </h1>
<div class="table-responsive">
    <table class="table table-hover table-success table-sm ">
        <thead class="table-dark">
            <tr>
                <th>#ID</th>
                <th>Nombre</th>
                <th>Categor&iacute;a</th>
                <th>Precio $</th>
                <th>Imagen</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for producto in object_list %}
            <tr>
                <td> {{ producto.id }} </td>
                <td>{{ producto.nombre }}</td>
                <td>{{ producto.categoria }}</td>
                <td>$ {{ producto.precio }}</td>
                <td><img style="height: 100px; width: 100px;" src="{{ producto.imagen.url }}"></td>
                <td>
                    <a href="{% url 'edit_produc' producto.id %}" class="btn btn-primary">Editar</a>
                    <a href="{% url 'del_product' producto.id %}" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock body %}