{% extends "layout.html" %} {% load static %} {% block body %}
<div class="row row-cols-1 row-cols-lg-3 g-3" style="margin-top: 0px;">
    {% for producto in top3_prod %}
    <div class="col">
        <div class="card " style="width: 90%; background-color: rgba(250, 241, 228, 0.651); align-items: center;">
            <img src=" {{ producto.imagen.url }} " style="height: 200px; width: 200px; " alt="{{producto.nombre}}">
            <div class="card-body" style="text-align: center;">
                <h5 class="card-title">{{producto.nombre}}</h5>
                <p class="card-text">$ {{producto.precio}} </p>
                {% if perms.JAGWEB.change_producto %}
                    <a href="{% url 'edit_produc' producto.id %}" class="btn btn-primary">Ir al producto</a>
                {% else %}
                    <a href="{% url 'product' producto.id %}" class="btn btn-primary">Ir al producto</a>
                {% endif %}
                
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<div class="list-group" style="margin:1%; align-self: center;">
    {% for un_producto in top10_prod %}
        {% if perms.JAGWEB.change_producto %}
            <a href="{% url 'edit_produc' un_producto.id %}" class="list-group-item list-group-item-action list-group-item-light"> 
            Nombre: {{un_producto.nombre}} </a>
        {% else %}
            <a href="{% url 'product' un_producto.id %}" class="list-group-item list-group-item-action list-group-item-light"> 
            Nombre: {{un_producto.nombre}} </a>
        {% endif %}
    {% endfor %}
</div>
{% endblock %}